<!doctype html>
<html>
<head>

</head>
<body>
  <div class="card m-3">
    <h5 class="card-header">What you need to know about us</h5>
    <div class="card-body">
        <form [formGroup]="aboutUsForm">
  <div class="form-row">
    <div class="form-group col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/images/mkPic.JPG" alt="MK photo">
            <div class="card-body">
              <h5 class="card-title">Moeketsi Makinta</h5>
              <p class="card-text">Co-founder of <i>Epirus Bow Tech Solutions</i>.</p>
              <mat-checkbox (click)="onchangeMkMore($event)" *ngIf="!showMk2">Show more about Moeketsi</mat-checkbox>
            </div>
            <div *ngIf="showMk">
                <h6 class="card-header">Personal information</h6>
                <p><i><b>Full name :</b></i> Moeketsi Makinta<br/>
                    <i><b>Date of birth :</b></i> 14 January 1990<br/>
                    <i><b>Place of birth :</b></i> Gauteng, RSA<br/>
                    <i><b>Height :</b></i> 1.80 m<br/>
                    <i><b>Career position :</b></i> Developer<br/>
                 </p>              
                <h6 class="card-header">Career information</h6>
                <p><i><b>Reverside Software Solutions :</b></i> 2017 - 2019<br/>
                    <i><b>Discovery :</b></i> 2018 - 2019<br/>
                    <i><b>Basalt.co :</b></i> 2019 - now<br/>
                 </p>
                <mat-checkbox (click)="onchangeMkLess($event)" *ngIf="showMk2">Show less about Moeketsi</mat-checkbox>
            </div>
          </div>
    </div>
    <div class="form-group col">
        <p>
            <i><b style="color:blue;"> Epirus Bow Tech Solutions</b></i> was founded by two Java developers, Lubabalo Silimela and Moeketsi Makinta.<br/>
Both at the time where employed by <i>Discovery SA</i> and <i>Basalt.co - Intentional Technology</i> as developers respectively.
Due to the rising demand of web and mobile applications 
they saw an opportunity to seize the moment and make an impact in they're own terms.
        </p>
    </div>
    <div class="form-group col">
        <p>
           <i><b style="color:blue;"> Epirus Bow Tech Solutions</b></i> offers mainly software and hardware services.
We also offer consulting on various web and mobile applications.<br/><br/>

<i style="color:red;">Software services that we offer are :</i><br/>

 - Building of websites applications<br/>
 
 - Building of mobile applications (mainly Android)<br/>
 
 - Websites upgrades and maintanance<br/>
 
 - Short code enhancements<br/><br/>
 
 <i style="color:red;">Hardware services that we offer are :</i><br/>

 - Hardware repairs and replacements<br/>
 
 - Hardware upgrades<br/>
 
 - hardware maintanance<br/>
        </p>
    </div>
    <div class="form-group col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/images/luPic.JPG" alt="LU photo">
            <div class="card-body">
              <h5 class="card-title">Lubabalo Silimela</h5>
              <p class="card-text">Co-founder of <i>Epirus Bow Tech Solutions</i>.</p>
              <mat-checkbox (click)="onchangeLuMore($event)" *ngIf="!showLu2">Show more about Lubabalo</mat-checkbox>
            </div>
            <div *ngIf="showLu">
                <h6 class="card-header">Personal information</h6>
                <p><i><b>Full name :</b></i> Lubabalo Silimela<br/>
                    <i><b>Date of birth :</b></i> 27 December 1990<br/>
                    <i><b>Place of birth :</b></i> Eastern Cape, RSA<br/>
                    <i><b>Height :</b></i> 1.82 m<br/>
                    <i><b>Career position :</b></i> Developer<br/>
                 </p>              
                <h6 class="card-header">Career information</h6>
                <p><i><b>Reverside Software Solutions :</b></i> 2017 - 2019<br/>
                    <i><b>Discovery :</b></i> 2018 - now<br/>
                 </p>
                <mat-checkbox (click)="onchangeLuLess($event)" *ngIf="showLu2">Show less about Lubabalo</mat-checkbox>
            </div>
          </div>
    </div>
  </div>
</form>
</div>
<div class="card-footer text-muted text-right">
  <small>Powered by Epirus Bow Tech Solutions</small>
</div>
  </div>
</body>
</html>

