<!doctype html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
  <div class="card m-3">
    <h5 class="card-header">Contact us</h5>
    <div class="card-body">
<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      a matter of hours to help you.</p>

<!-- Name -->
<input type="text" formControlName="contactFormName" class="form-control" 
[ngClass]="{ 'is-invalid': submitted && f.contactFormName.errors }" placeholder="Name" [(ngModel)]="contactUsRequest.name"/>
<div *ngIf="submitted && f.contactFormName.errors" class="invalid-feedback">
<div *ngIf="f.contactFormName.errors.required">Your Name is required</div>
</div>
<br/>
<!-- Email -->
<input type="text" formControlName="contactFormEmail" class="form-control" [(ngModel)]="contactUsRequest.email"
[ngClass]="{ 'is-invalid': submitted && f.contactFormEmail.errors }" placeholder="E-mail"/>
<div *ngIf="submitted && f.contactFormEmail.errors" class="invalid-feedback">
    <div *ngIf="f.contactFormEmail.errors.required">Email is required</div>
    <div *ngIf="f.contactFormEmail.errors.email">Email must be a valid email address</div>
</div>
<br/>
<!-- Subject -->
<select formControlName="contactFormSubjects" class="form-control" [(ngModel)]="contactUsRequest.subject" 
[ngClass]="{ 'is-invalid': submitted && f.contactFormSubjects.errors }">
<option value="" disabled>Choose a subject</option>
<option value="Feedback" selected>Feedback</option>
<option value="Report a bug">Report a bug</option>
<option value="Feature request">Feature request</option>
<option value="General request">General request</option>
</select>
<div *ngIf="submitted && f.contactFormSubjects.errors" class="invalid-feedback">
  <div *ngIf="f.contactFormSubjects.errors.required">Subject is required</div>
</div>
<br/>
<!-- Message -->
<div class="form-group">
<textarea formControlName="contactFormMessage" class="form-control" [(ngModel)]="contactUsRequest.message"
[ngClass]="{ 'is-invalid': submitted && f.contactFormMessage.errors }"
  rows="3" placeholder="Message"></textarea>
  <div *ngIf="submitted && f.contactFormMessage.errors" class="invalid-feedback">
      <div *ngIf="f.contactFormMessage.errors.required">Message is required</div>
      </div>
</div>


<!-- Send button -->
<div class="form-group">
  <button class="btn btn-primary">Submit</button>
</div>

        <!--Grid column-->
        <br/><br/><br/>
        <div class="form-row">
          <div class="form-group col">
              <p><mat-icon>room</mat-icon><br/>
                  45 Kerk Street, <br/>
                  Johannesburg 2001, <br/>
                  South Africa
              </p>    
          </div>
          <div class="form-group col">
              <p><mat-icon>phone_in_talk</mat-icon><br/>
                  Lubabalo Silimela<br/>
                  +27 67 0595 367<br/> 
                         or<br/>
                 Moeketsi Makinta<br/>
                 +27 67 7887 310
              </p>
          </div>
          <div class="form-group col">
              <p><mat-icon> email</mat-icon><br/>
                  mr.silimela@gmail.com<br/> 
                          or<br/>
                 moeketsimakinta@gmail.com
              </p>
          </div>
        </div>
</form>
    </div>
    <div class="card-footer text-muted text-right">
      <small>Powered by Epirus Bow Tech Solutions</small>
    </div>
  </div>
</body>
</html>