<!doctype html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="card m-3">
        <h5 class="card-header"></h5>
        <div class="card-body">
            <div class="mainContainer">  
                <!-- main loginForm container -->
            <br/><br/>
            <div class="container" *ngIf="!show">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h3>Login form:</h3>
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submittedLogin && f1.username.errors }" [(ngModel)]="user.username" />
                                <div *ngIf="submittedLogin && f1.username.errors" class="invalid-feedback">
                                    <div *ngIf="f1.username.errors.required">User Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedLogin && f1.password.errors }" [(ngModel)]="user.password"/>
                                <div *ngIf="submittedLogin && f1.password.errors" class="invalid-feedback">
                                    <div *ngIf="f1.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <mat-checkbox (click)="onchange($event)">Click here to register</mat-checkbox>
                                </div> 
                            <div class="form-group">
                                <button class="btn btn-primary" [disabled]="isLoading"><i class="fa fa-spinner fa-spin" 
                                    [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{LoginButton}}</button>
                            </div>                
                        </form>
                    </div>
                </div>
            </div>
            <!-- main registerForm container -->
            <div class="container" *ngIf="show">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h3>Registration form:</h3>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" [(ngModel)]="user.name"/>
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" [(ngModel)]="user.surname"/>
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                </div>
                            </div>
                            <div>
                                <mat-checkbox (click)="onchangeId(check)" #check unchecked=“true”>Use passport number</mat-checkbox><br/>
                                </div>
                            <div class="form-group" *ngIf="idShow">
                                <label>Identity Number</label>
                                <input type="number" formControlName="idNo" max="13" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idNo.errors }" [(ngModel)]="user.idNo"/>
                                <div *ngIf="submitted && f.idNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.idNo.errors.required">Identity Number is required</div>
                                    <div *ngIf="f.idNo.errors.idValid">Please provide valid Identity number</div>
                                    <div *ngIf="f.idNo.errors.maxlength">Identity Number must be 13 digits</div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="passShow">
                                <label>Passport Number</label>
                                <input type="text" formControlName="passPortNo" class="form-control" [value] = "0000" [ngClass]="{ 'is-invalid': submitted && f.passPortNo.errors }" [(ngModel)]="user.passPortNo"/>
                                <div *ngIf="submitted && f.passPortNo.errors" class="invalid-feedback">
                                    <div *ngIf="f.passPortNo.errors.required">Passport Number is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="user.email" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)]="user.username" />
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">User Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]="user.password" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <mat-checkbox (click)="onchangeReg($event)">Click here to login</mat-checkbox>
                                </div>
                            <div class="form-group">
                                <button class="btn btn-primary" [disabled]="isLoading"><i class="fa fa-spinner fa-spin" 
                                    [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{regButton}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <small>Powered by Epirus Bow Tech Solutions</small>
          </div>
    </div>    
</body>
</html>