<!doctype html>
<html>
<head>
</head>
<body>
  <div id="centered" style="text-align: left; width:190px;">
    <img class="card-img-top" src="assets/images/app-images/logo.jpg" alt="Company logo">
  </div>
  <nav mat-tab-nav-bar mat-stretch-tabs>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}    
    </a>
    </nav>    
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </main> 
  
</body>
</html>