<!doctype html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
  <div class="card m-3">
    <h5 class="card-header">Epirus Bow Tech Solutions - package offers</h5>
    <div class="card-body">
<!-- Default form contact -->
<form class="text-center border border-light p-5" [formGroup]="productForm">

  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Please note that though you will be able to select all the packages you want,
    you will not be able to submit your offer request. So please make sure you are logged in before you start.</p>

<!-- Service type -->
<label *ngIf="showServ">Please select service type</label>
<select formControlName="serviceType" class="form-control" #sel (change)="changedService(sel.value)" *ngIf="showServ" [(ngModel)]="cart.serviceType">
<option value="" disabled>Please select service type</option>
<option value="software" selected>Software services</option>
<option value="hardware">Hardware services</option>
<option value="consulting">Consulting services</option>
</select>
<br/>
<!-- Package type -->
<label *ngIf="showType">Please select package type</label>
<select formControlName="packageType" class="form-control" #selType (change)="changedType(selType.value)" *ngIf="showType" [(ngModel)]="cart.packageType">
<option *ngFor="let type of types" [value]="type.value">{{type.title}}</option> 
</select>
<br/>
<!-- Package sub type -->
<label *ngIf="showPkg">Please select package format</label>
<select formControlName="packageSubType" class="form-control" #selSubType (change)="changedSubType(selSubType.value)" *ngIf="showPkg" [(ngModel)]="cart.packageFormat">
<option *ngFor="let packageTypes of packageTypes" [value]="packageTypes.value">{{packageTypes.title}}</option> 
</select>
</form>
<div class="container" *ngIf="showForm">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3>Please fill the below requirements:</h3><br/>
          <form [formGroup]="staticWebForm" (ngSubmit)="staticSubmit()">
              <div class="form-group">
                <label>Number of pages</label>
                  <input type="number" min="1" formControlName="pages" class="form-control" (click)="onchangeQty(f1.pages.value)"
                  [ngClass]="{ 'is-invalid': submitted && f1.pages.errors }" [(ngModel)]="cart.pageQuantity"/>
                  <div *ngIf="submitted && f1.pages.errors" class="invalid-feedback">
                      <div *ngIf="f1.pages.errors.required">Number of pages is required</div>
                  </div>
              </div>
              <div class="form-group">
                <label>ZAR per page</label>
                  <input type="text" disabled formControlName="pagesValue" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label>Total in ZAR</label>
                      <input type="text" disabled formControlName="total" class="form-control" [(ngModel)]="cart.packageCost"/>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary" [disabled]="isLoading"><i class="fa fa-spinner fa-spin" 
                            [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i> {{submitButton}}</button>
                    </div> 
          </form>
      </div>
  </div>
</div>
</div>
<div class="card-footer text-muted text-right">
  <small>Powered by Epirus Bow Tech Solutions</small>
</div>
</div>

</body>
</html>