<!doctype html>
<html>
<head>

</head>
<body>
    <div class='card' *ngIf ="show"><br/>
        <div class='card-header text-right'>
            {{pageTitle}}
            <mat-form-field>
                <mat-select>
                  <mat-option *ngFor="let opt of options" [value]="opt.value" (click)="onChanged(opt.value)">
                    
                    {{opt.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class='card-body'>
            <div class="row">
            </div>
            <div class='table-responsive'>
                <table class='table' *ngIf='carts && carts.length'>
                    <thead>
                    <tr>
                        <th>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <th style="color:firebrick">Service type</th>
                        <th>Username</th>
                        <th>Package type</th>
                        <th>Package format</th>
                        <th>Package Cost</th>
                        <th>Number of pages</th>
                        <th>Package Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor='let cart of carts'>
                        <td>
                            <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(cart) : null"
                            [checked]="selection.isSelected(cart)"
                            [aria-label]="checkboxLabel(cart)">
                            </mat-checkbox>           
                        </td>
                        <td>{{ cart.serviceType }}</td>
                        <td>{{ cart.loggedInUser | lowercase }}</td>
                        <td>{{ cart.packageType | lowercase }}</td>
                        <td>{{ cart.packageFormat }}</td>
                        <td>{{ cart.packageCost | currency:'ZAR':'symbol':'1.2-2' }}</td>
                        <td>{{ cart.pageQuantity }}</td>
                        <td>{{ cart.packageStatus }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <small>Powered by Epirus Bow Tech Solutions</small>
        </div>
    </div>
</body>
</html>
