/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}