<!doctype html>
<html>
<head>

</head>
<body>
  <div class="card m-3">
    <h5 class="card-header"></h5>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <button class="btn btn-primary" (click)="goToPackages()">Fond of any of our packages, 
            don't hesitate just CLICK HERE 
            to see all our web and mobile application packages and also all of the other service we offer.</button>     
        </div> 
        <div class="row">
          <div class="col-md-12 py-3">
            <ngb-carousel *ngIf="event_list">
              <ng-template ngbSlide *ngFor="let event of past_events">
                <img [src]="event.img" alt="Random slide">
                <div class="carousel-caption">
                  <h3>{{ event.eventType }}</h3>
                  <b><i><p [innerText]="event.eventDescription"></p></i></b>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          </div>
      </div>
    </div>
    <div class="card-footer text-muted text-right">
      <small>Powered by Epirus Bow Tech Solutions</small>
    </div>
  </div>  
</body>
</html>
